

table{
	border: 10px solid #687291;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 15px;
	/*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
	font-family: 'Gill Sans MT';	
}


td.center{
	text-align: center;	
	
}

.underline {
    border-bottom: 2px solid black;
 }


