table{
	font-family: Tahoma;
	font-size:13px;
	border-collapse: collapse;
	width: 75%;
}


tr.colour3{
	background-color: #687290;
}

tr.colour1{
	background-color: #eeeff4 ;
}

tr.colour2{
	background-color: #dfe1e8;
}

td.center1{
	text-align: center;
}

.hv:hover {
	color: #cc6600;
}

tr.bordered {
    border-bottom: 2px solid #000;
    display: none;
 }

td.bold1{
	font-weight: bold;
	display: none;
}

