table{
	font-family: Tahoma;
	font-size:13px;	
	border-spacing: 0;
	width: 75%;
	border: 10px solid #d0d0ff;
	padding: 10px;
}

tr.colour3{
	background-color: #687290;
}

tr.colour1{
	background-color: #eeeff4 ;
}

tr.colour2{
	background-color: #dfe1e8;
}

td.center1{
	text-align: center;
}

.hv:hover {
	color: #cc6600;
}

.bordered {
    border-bottom: 2px solid #000;
 }

td.bold1{
	font-weight: bold;
}

