

.total{
    visibility: hidden;
}

.table thead{
    display: none;
}


.table, .table tbody, .table tr, .table td{
    display: block;    
}
.table tr{
    margin-bottom:15px;
}
.table td{
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
}


.table td::before{   
    position: absolute;
    left:0;
    width: 50%;
    padding-left:15px;
    font-family: 'Gill Sans MT';
    font-size:13px;   
    text-align: left;
}


tr:nth-child(even){
    background-color: #eeeff2
}

tr:nth-child(odd){
    background-color: #dfe1e7
}


    td:nth-of-type(1):before { content: "Constituency"; }
	td:nth-of-type(2):before { content: "PollingDiv"; }
	td:nth-of-type(3):before { content: "PollingStn"; }
	td:nth-of-type(4):before { content: "Location"; }
	td:nth-of-type(5):before { content: "Candidate1"; }
	td:nth-of-type(6):before { content: "Candidate2"; }
	td:nth-of-type(7):before { content: "Rejected"; }
	td:nth-of-type(8):before { content: "Total"; }
