body{background-color: #f2f2f2;}
#voteLoggingBox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 4px solid #69C5E4;
}
#voteLoggingBox > h1 {
    text-align: center;
    padding-bottom: 10px;
}
#voteLoggingBox > form > div > button {
    position: relative;
    left: 320px;
    top: -5px;
    background-color: #69C5E4;
    border: none;
    color: white;
    padding: 12px 28px;
    text-decoration: none;
    margin: 4px 4px;
    cursor: pointer;
}
#voteLoggingBox > form > div > label {
    display: inline-block;
    width: 140px;
    padding-right: 20px; 
    text-align: right;
}
form {
    font-size: 13px;
    font-family: 'Gill Sans MT';
}
.txtBoxError {
    border:2px solid red;
}
.txtBoxValid {
    border:2px solid green;
}